{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "importOrder": [
    "^@/(.*)$",
    "^@pages/(.*)$",
    "^@ui/(.*)$",
    "^@skeletons/(.*)$",
    "^@hooks/(.*)$",
    "^@lib/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
